:root {
    --primary: #fff;
    --bk: #151b26;
    --yellow: #f7dc0a;
    --gray: #f3f3f3;
    --graytext: #6f7782;
  }
  
  .btn {
    padding: 10px 20px;
    border-radius: 15px;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .btn--primary {
    background-color: rgb(240, 185, 11);
    color: black;
    border: 1px solid rgb(240, 185, 11);
  }
  
  .btn--outline {
    background-color: white;
    color: black;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
  }
  
  .btnDefaultMedium {
    padding: 8px 20px;
    font-size: 1.1rem;
    margin-right: 20px;
  }
  
  .btnDefaultLarge {
    padding: 12px 26px;
    font-size: 20px;
  }
  
  .btnToLogin {
    background: #151b26;
    border-radius: 20px;
  
    font-weight: bold;
    color: blanchedalmond;
    font-size: 17px;
  }
  
  .btnToHome {
    background: var(--yellow);
    border-radius: 2px;
  
    font-weight: lighter;
    color: var(--bk);
    font-size: 17px;
    border: 1px solid black;
  }
  
  .btnSizeLogin {
    width: 100%;
    height: 40px;
  }
  
  .btnSizeHome {
    width: 100%;
    height: 30px;
  
    padding: 0px 10px !important;
  
  }
  
  
  .btnToLogin:hover {
    color: whitesmoke;
  }
  
  .btnDefaultMedium:hover {
    border-width: initial;
    border-color: rgb(240, 185, 11);
    background: transparent;
    color: white;
    transition: all 0.3s ease-out;
  }
  
  .btnDefaultLarge:hover {
    border-width: 2px;
    border-color: rgb(240, 185, 11);
    transition: all 2s ease-out;
  }