:root {
    --bk: #151b26;
  }
  
  .login-container {
    top: 50%;
    left: 50%;
    width: 380px;
    height: 400px;
    position: absolute;
    background-color: blanchedalmond;
    color: var(--bk);
    transform: translate(-50%, -50%);
    padding: 65px 35px;
    border-radius: 10px;
  }
  
  .form-type  h1 {
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-type  label {
    font-weight: bold;
    display: block;
  }
  
  .form-type  input {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 5px;
    font-size: 15px;
  
    outline: none;
    border: none;
    border-bottom: 1px solid var(--bk);
    background: transparent;
  }
  
  .form-type  Button {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .form-type  p {
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
  }
  
  .form-type  .soswachin {
    color: rgb(95, 95, 95);
    text-decoration: none;
  }
  
  .form-type .soswachin:hover {
    color: var(--bk);
  }